.login-page {
  --background: none;
}

ion-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXDHq7OAdgVn5AwPTQa6Pg7TujjoF-dMIv1w&s') no-repeat center center / cover;
  filter: brightness(0.9);}

.login-overlay {
  min-height: 100vh;
  background: linear-gradient(
    rgba(255,255,255,0.85),
    rgba(255,255,255,0.9)
  );
  padding: 25px;
}

.login-title {
  font-size: 28px;
  font-weight: 300;
  color: #1f2b6c(255, 255, 255);
  margin-top: 40px;
}

.login-logo {
  padding: 15px;
  text-align: center;
  margin: 20px -25px;
}

.login-button {
  background: #0e1c6d;
  font-weight: bold;
}

.login-logo img {
  height: 40px;
}

.login-form {
  margin-top: 20px;
}

.login-form label {
  font-size: 14px;
  color: #333;
}

.input-group {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #1f2b6c;
  margin-bottom: 15px;
}

.input-group input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 6px;
}

.input-group span {
  font-size: 13px;
  color: #555;
}

.login-form input[type="password"] {
  width: 100%;
  border: none;
  border-bottom: 2px solid #1f2b6c;
  padding: 6px;
  margin-bottom: 15px;
  background: transparent;
}

.login-options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 20px;
}

.login-options a {
  color: #1f2b6c;
}

.login-btn {
  width: 100%;
  background: #1f2b6c;
  color: white;
  padding: 12px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-warning {
  font-size: 11px;
  color: #555;
  margin-top: 20px;
}

.login-lang {
  text-align: center;
  font-size: 12px;
  color: #1f2b6c;
  margin-top: 10px;
}

.login-footer {
  text-align: center;
  font-size: 11px;
  color: #555;
  margin-top: 5px;
}
